.card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

  border-radius: 1rem;
  border: 1.5px solid #7cd1b8;
  color: white;
}
.title {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  color: white;
  align-items: center;
}
.head1 {
  font-size: 14px;
}
.head2 {
  font-size: 12px;
}
.head3 {
  font-size: 10px;
}
