
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #3d3d3d;
}

:root {
  --secondary-color: #FABB51 
  --background-color: #faedc6;
  --primary-color: #7CD1B8
  --primary-color-dark: #3E8E7E 
}

