.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 95;
  background-color: rgba(255, 255, 255, 0.5);
}
.card {
  position: fixed;
  z-index: 99;
  background-color: white;
  border: 1.5px solid #ccc;
  padding: 2rem;
  width: 40%;
  top: 50px;
  left: calc((100% - 40%) / 2);
  border-radius: 1rem;
}
